@import url(css/reset.css);
@import url(css/header.css);
@import url(css/banner.css);
@import url(css/portfolio.css);
@import url(css/services.css);
@import url(css/contact.css);
@import url(css/partners.css);
@import url(css/learn.css);
@import url(css/team.css);
@import url(css/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Work+Sans:wght@400;500;700&display=swap');

:root {
    --background-green: #74C69D;
    --main-black: #000000;
    --main-white: #FFFFFF;
    --sec-white: #EEEEEE;
    --sec-green: #74C69D;
    --sec-gray: #212529;
    --transp-white: #ffffffbf;
    --transp-gray:  #212529bf;
    --transp-black: #21252994;

    --main-font: 'Crimson Text', sans-serif;
    --sec-font: 'Work Sans', sans-serif;
}

body {
    background-color: var(--background-green);
    font-family: var(--main-font);
    font-size: 16px;
    position: relative;
    box-sizing: border-box;
}